*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
build/
*/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Sensitive publishing credentials - DO NOT COMMIT
gradle.properties
*.gpg
secring.gpg